@font-face {
	font-family:"Ostrich Sans Medium";
	src:url("ostrich-regular.eot?") format("eot"),
		url("ostrich-regular.woff") format("woff"),
		url("ostrich-regular.ttf") format("truetype"),
		url("ostrich-regular.svg#OstrichSans-Medium") format("svg");
		font-weight:normal;
		font-style:normal;
}
h1 {
	color:white;
}
h2 {
	color:white;
	font-size:50px;
}
form {
	color:white;
	font-size:25px;
	font-family:"Ostrich Sans Medium";
}
body{
	font-family: "Ostrich Sans Medium";
	text-align:center;
	background: black;
	background-image: url("http://i.imgur.com/onRD0je.jpg");
	background-size:contain;
}
#mainblock>div{
	display:inline-block;
	border-radius:10px;
	min-width:350px;
	padding:20px;
	margin:2px;
}
#mainblock>div>div{
	font-size:64px;
	padding:5px;
	padding-top:15px;
	padding-bottom:0px;
	color:white;
	border-radius:10px;
}
#mainblock>div>span{
	font-size:420;
	padding:30px;
	color:white;
}
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
	font-size:20px;
	background-color:rgba(0,0,0,0);
	color:white;
}
input[type=datetime-local] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
	font-size:16px;
	background-color:rgba(0,0,0,0);
	color:white;
}

input[type=button] {
	font-size:20px;
	padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
	background-color:rgba(0,0,0,0);
	color:white;
}